body {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: darkgrey;
}

#game {
    margin: auto;
    display: block;
    /* width: 600px;
    height: 600px; */
    border-width: 1px;
    font-size: 40px;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game .screen.active {
    display: block;
}

#high-scores {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    color: #CECEF6;
    text-align: center;

}

#main-menu {
    padding-top: 1em;
    cursor: pointer;
    font-size: 0.7em;
}

ul.menu {
    text-align: center;
    padding: .5em;
    margin: 0;
    list-style: none;
}

ul.menu li {
    margin: 1em 0;
}

ul.menu li button {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    color: #CECEF6;
    width: 10em;
    height: 1.5em;
    background: #095516;
    border: 0.1em solid rgb(48, 153, 6);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

ul.settings-menu {
    padding-left: 2em;
    margin: 0;
    list-style: none;
}

ul.settings-menu li {
    margin: 1em 0;
}

ul.settings-menu li button {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    color: #CECEF6;
    width: 7em;
    height: 1.5em;
    background: #095516;
    border: 0.1em solid rgb(48, 153, 6);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

ul.menu li button:hover {
    background: #52b839;
}

ul.menu li button:active {
    color: #CECEF6;
    background: rgb(0, 0, 0);
}

#game div h1 {
    font-size: 1em;
    text-align: center;
}

#high-scores ol {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#game div p {
    font-size: 0.5em;
}

#settings {
    padding-top: 1em;
    cursor: pointer;
    font-size: 0.7em;
}

#about{
    padding-top: 1em;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
}
